.container{
    display: flex;
    margin: 0px 30px;

}
.cardFormUsers{
    width: 60vw;
    margin-right: 5px;
}
.cardListUsers{
    width: 40vw;
    margin-left: 5px;
}

.TableUsers{
     thead{
        th{
            color: #5e5e5e;
            border-bottom: solid 1px #747474;
            padding: 3px 2px 3px 2px;
        }
    }
    tbody{
        height: 50px;
        color: #838383;
        td{
            border-bottom: solid 1px #747474;
                    padding: 2px 2px 2px 2px;

        }
    }
}
.t-ID{
    width: 50px;
    /* max-width: 10%;
    min-width: 3%; */
    text-align: center;
            background: #974040;

}
.t-Nombre{
   width: 200px;
    /* max-width: 25%;
    min-width: 8%; */
    text-align: left;
}
.t-Correo{
    width: 150px;
    /* max-width: 25%;
    min-width: 8%; */
    text-align: left;
}
.t-Estatus{
    width: 50px;
    /* width: 10rem; */
    text-align: center;
    background: #5e5e5e;
}
.t-Acciones{
    width: 50px;
    /* width: 10rem; */
    text-align: center;
}
.btnAccionesListUser{
    background: var(--AzulRey);
    color: #e9e9e9;
    font-size: 10px;
    width: 35px;
}
