.Active {
    /* background-color: #ffffff; */
    /* background-color: #FFBF00; */
    background-color: #c92333;
    color: #d8d8d8;
    letter-spacing: 1px;
}

.inActive {
    background-color: #041f3f;
    /* background-color: #993b44; */
    /* background-color: #919191; */
    color: #999999;
}

/* #013C7E color Azul plataforma */
/* #E12639 color Rojo plataforma */
.app-Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #9b1010; */
    /* background: #f5f5f5; */
    /* width: 100vw !important; */
}

.login {
    width: 942px;
    height: 539px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.281);
}


.container {
    display: grid;
    grid-template-columns: 40% 60%;
    /* grid-template-columns: 410px 532px; */
    grid-template-areas: "sec-A-Img sec-B-Form";
    height: 100%;
}

.sec-A-Img {
    grid-area: sec-A-Img;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    & img {
        width: 376px;
    }
}


.sec-B-Form {
    grid-area: sec-B-Form;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #013b7e;

    & .vercion {
        text-align: right;
        margin: 10px 25px;
        color: #fff;
    }
}

.form-Container {
    margin: 0 auto;
}

.form-Container>h1 {
    font-size: 40px;
    font-weight: var(--Bold);
    margin-top: 40px;
    margin-bottom: 0px;
    color: #fff;
}

.form-Container>p {
    font-size: 12px;
    margin-top: 0px;
    font-weight: var(--Normal);
    margin-bottom: 50px;
    margin-left: 15px;
    color: #fff;
}

.form-Container>form {
    /* width: 100%; */
    border-radius: 5px;
}

.form-Container>form>.form-group {
    margin-bottom: 25px;
    position: relative;
}

.form-Container>form>.form-group>label {
    display: block;
    font-size: 12px;
    font-weight: var(--Light);
    margin-bottom: 5px;
    color: #fff;
}

.form-Container>form>.form-group>input {
    width: 300px;
    height: 39px;
    border: 1px solid #939393;
    border-radius: 4px;
    font-size: 14px;
    color: rgba(56, 56, 56, 0.60);
    font-weight: var(--Medium);
    padding-left: 2.8rem;
    padding-right: 2.9rem;
}

.form-Container>form>.form-group>input::placeholder {
    color: #7777779d;
}

.form-Container>form>.form-group>input[type="password"]:focus,
.form-Container>form>.form-group>input[type="email"]:focus {
    border: 1px solid #D8D8D8;
    background-color: #D8D8D8;
    outline: none;
}

.form-Container>form>.form-group>.icon {
    position: absolute;
    display: block;
    bottom: .4rem;
    left: .8rem;

}

.form-Container>form>.form-group>.iconVerPass {
    position: absolute;
    display: block;
    bottom: .4rem;
    right: .8rem;
    cursor: pointer;
    border: none;
    background: none;

}


.form-Container>form>.pass {
    margin-bottom: 20px;
}

.errorPass {
    position: absolute;
}

.form-Container>form>.errorPass>p {
    position: relative;
    color: #eb4152;
    letter-spacing: .75px;
    /* color: #ee7070; */
    font-size: 14px;
    font-weight: var(--Medium);
    margin-left: 10px;
    padding-left: 2.8rem;
}

.form-Container>form>.errorPass>p>img {
    position: absolute;
    display: block;
    left: 1rem;
    bottom: 0.5px;
}



.form-Container>form>.btn-login {
    width: 392.8px;
    height: 30px;
    margin-top: 130px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    font-weight: var(--Medium);
}



@media screen and (max-width:770px) {

    .login {
        width: 100vw;
        height: 100%;
        box-shadow: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .form-Container>h1 {
    font-size: 30px;
    margin-top: 20px;
}

.sec-B-Form {
    height: 100vh;
    background-color: #013b7e;

}

.form-Container>p {
    font-weight: var(--Normal);
    margin-bottom: 20px;
    margin-left: 10px;
}

.form-Container>form>.form-group>input {
    width: 200px;
    height: 33px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.form-Container>form>.form-group>.icon {
    bottom: .2rem;
    left: .4rem;

}
.form-Container>form>.form-group>.iconVerPass {
    position: absolute;
    display: block;
    bottom: .2rem;
    right: 0.3rem;
    cursor: pointer;
    border: none;
    background: none;

}
.form-Container>form>.btn-login {
    width: 100%;
    height: 30px;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: var(--Medium);
}

}

@media screen and (max-width:400px) {
.sec-A-Img {

    & img {
        width: 100%;
    }
}
}
@media screen and (max-width:300px) {
    .sec-A-Img {

    & img {
    min-width: 279px;
    }
}
.sec-B-Form {
    min-width: 300px;
}

.errorPass {
    position: relative;
    width: 100%;
}
.form-Container>form>.errorPass>p {

    font-size: 14px;
    font-weight: var(--Medium);
    margin-left: 0px;
    padding-left: 2.8rem;
}
}


/* & .login{
        width: 942px;
        height: 539px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.281);


            & .container{
                display:grid;
                grid-template-columns: 40% 60%;
                grid-template-areas: "sec-A-Img sec-B-Form" ;
                height: 100%;

                & .sec-A-Img{
                    grid-area: sec-A-Img;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;

                    & img{
                        width: 376px;
                    }
                }

                & .sec-B-Form{
                    grid-area: sec-B-Form;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    background-color: #013b7e;

                    & .vercion{
                        text-align: right;
                        margin: 10px 25px;
                        color: #fff;
                    }
                    
                    
                    & .form-Container{
                        margin: 0 auto;

                        & h1{
                            font-size: 40px;
                            font-weight: var(--Bold);
                            margin-top: 40px;
                            margin-bottom: 0px;
                            color: #fff;
                        }
                        
                        & p{
                            font-size: 12px;
                            margin-top: 0px;
                            font-weight: var(--Bold);
                            margin-bottom: 50px;
                            margin-left: 15px;
                            color: #fff;
                        }

                        & form{
                            width: 100%;
                            border-radius: 5px;
            
                            & .form-group{
                                margin-bottom: 25px;
                                position: relative;
            
                                & label{
                                    display: block;
                                    font-size: 12px;
                                    font-weight: var(--Light);
                                    margin-bottom: 5px;
                                    color: #fff;
                                }
            
                                & input{
                                    width: 300px;
                                    height: 39px;
                                    border: 1px solid #939393;
                                    border-radius: 4px;
                                    font-size: 14px;
                                    color: rgba(56, 56, 56, 0.60);
                                    font-weight: var(--Medium);
                                    padding-left: 2.8rem;
                                    padding-right: 2.9rem;
                                }

                                & input::placeholder{
                                    color: #7777779d;
                                }

                                & input[type="password"]:focus, input[type="email"]:focus{
                                    border:1px solid #D8D8D8;
                                    background-color: #D8D8D8;
                                    outline: none;
                                }

                                & .icon{
                                    position: absolute;
                                    display: block;
                                    bottom: .5rem;
                                    left: 1rem;
                                
                                }
                                & .iconVerPass{
                                    position: absolute;
                                    display: block;
                                    bottom: .5rem;
                                    right: 0.6rem;
                                    cursor:pointer;
                                    border: none;
                                    background: none;
                                
                                }
                            }

                            & .pass{
                                margin-bottom: 20px;
                            }
                            
                            & .errorPass{
                                position: absolute;
                               

                                & p{
                                    position: relative;
                                    color: #ee7070;
                                    font-size: 14px;
                                    font-weight: var(--Medium);
                                    margin-left: 10px;
                                    padding-left: 2.8rem;
                                }

                                & img{
                                    position:absolute;
                                    display: block;
                                    left: 1rem;
                                    bottom: 0.5px;
                                }
                                
                            }
            
                            & .btn-login{
                                width: 392.8px;
                                height: 30px;
                                margin-top: 130px;
                                border: none;
                                border-radius: 20px;
                                font-size: 14px;
                                cursor: pointer;
                                font-weight: var(--Medium);
                        }

                    } 
                }
            }
        }
    }
} */