.container{
    margin: 0px 30px;
    width: 100%;
    height: 85px;
    /* background: #303030; */
    background: #013b7e;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "logo options";
}

.logo{
    grid-area: logo;
    position: absolute;
    margin: 5px;
    width: 80px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo > img{
    width: 100%;
    border-radius: 10%;
}
.options{
    grid-area: options;
    display: flex;
    justify-content: right;
    align-items: center;
}
.options > div{
    margin: 0 2%;
    display: flex;
    justify-content: space-around;
}

.options > .perfilUsuario{
    background: #5a6361;
    margin: 0;
    width: 150px;
    height: 85px;

}
/* .options > .perfilUsuario > ul {
    list-style:none;
    margin:0;
    padding:0;
}
.options > .perfilUsuario > ul > li{
    background-color:#2e518b;
}
.options > .perfilUsuario > ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}

.options > .perfilUsuario > ul li:hover {
 background:#5b78a7;
} */




/* ------------------------------------------------- */
/* menu */

#menu ul {
 list-style:none;
 margin:0;
 padding:0;
}

/* items del menu */

#menu ul li {
 background-color:#2e518b;
}

/* enlaces del menu */

#menu ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
}

/* items del menu */

#menu ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
 background:#5b78a7;
}

/* menu desplegable */

#menu ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}

/* items del menu desplegable */

#menu ul ul li {
 float:none;
 width:150px
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
 line-height:120%;
 padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul {
 display:block;
}
/* ------------------------------------------------- */

.options > div > .exit{
    & button{
        width: auto;
        /* height: 50px; */
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;


        & img{
            margin-bottom: 3px;
            width: 20px;
        }
        & span{
            color: rgb(255, 255, 255);
        }
    }
}
.options > div > h3 {
    color: #ffffff;
    display:inline-block;  
    cursor: pointer;
    font-size: 14px;
}

.options > div > h3::after,
.options > div > .exit::after{
  display:block;
  content: '';
  border-bottom: solid 1px #ffffff;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.options > div > h3:hover:after,
.options > div > .exit:hover:after{
    transform: scaleX(1);
    /* border-bottom: 1px solid #fff; */
    /* transition: all 2s both; */
}