.hide {
    display: none;
    color: #ddd;
}

.hide- {
    color: #ddd;
}

.container {
    margin: 0px 30px;
    width: 100%;
    /* height: 70px; */
    /* background: #303030; */
    background: #013b7e;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "logo options";
}

.logo {
    grid-area: logo;
    position: absolute;
    margin: 5px 0 5px 10px;
    width: 60px;
    height: 59px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo>img {
    width: 100%;
    border-radius: 10%;
}

.options {
    grid-area: options;
    display: flex;
    justify-content: right;
    align-items: center;
}

.options>.pot {
    margin: 0 2%;
    /* display: flex; */
    justify-content: space-around;
}

.options>.perfilUsuario {
    background: #5a6361;
    margin: 0;
    width: 200px;
    height: 70px;
    margin-left: 3%;
    display: flex;
    justify-content: space-around;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content>div {
    height: 30px;
    padding: 2px 6px;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropdown-content>div>button {
    width: 100%;
    height: 100%;
    margin-left: 8px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    & img {
        width: 20px;
        margin-right: 7px;
    }
}


.dropdown-content div:hover {
    background-color: #ddd;
}

/*.dropdown .dropdown-content { position: absolute; right: 0px; display: block;} /*Opcional: desplegar al pasar el ratón */
.dropdown:hover .dropdown-content {
    position: absolute;
    right: 0px;
    display: block;
}

/*Opcional: desplegar al pasar el ratón */

.dropbtn {
    background: #013b7e;
    width: 130px;
    height: 70px;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
}

.dropbtn>img {
    width: 10px;
    margin: 0 10px 0 10px;
}

.dropbtn>div {
    max-width: 100%;
    min-width: 50%;
}

.dropbtn:hover,
.dropbtn:focus {
    /* background-color: #3e8e41; */
}

.mostrar {
    display: block;
}


.imgPerfil {
    width: 70px;
    background: #013b7e;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {

        width: 80%;
        border-radius: 50%;
    }
}

.options>div>a {
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.options>div>a::after,
.options>div>.exit::after {
    display: block;
    content: '';
    border-bottom: solid 1px #ffffff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.options>div>a:hover:after,
.options>div>.exit:hover:after {
    transform: scaleX(1);
    /* border-bottom: 1px solid #fff; */
    /* transition: all 2s both; */
}